<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
          integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <title>Custom link landing page</title>
</head>
<body>
<div class="container">
    <h2>Custom link landing page</h2>
    <p class="lead">This is a landing page for custom links that can be set in Biocollect and other apps.</p>
    <p>
        Search the 'local-biocollect-dev' repository for 'custom_link.html' to find settings that point here.
    </p>
    <p>
        This page is used as a landing page for services that are not set up in the Local Development environment.
        This could be because the service is not part of the apps needed for Biocollect,
        or because it is a service only needed in production.
    </p>
</div>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"
        integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="index.js" type="module"></script>
</body>
</html>
